html, body, div, span, applet, h1, h2, h3, h4, h5, h6, p, a, em, img, strong, b, u, ul, li, form, label, legend,
table, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
* {
    word-wrap: break-word;
}
ul, ol {
    list-style: none;
}
a {
    outline: none;
    text-decoration: none;
}
input,
textarea,
select {
    border: none;
    border-radius: 0;
    outline: none;
    box-shadow: none;
}
input,
textarea {
    appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
}
* {
    padding: 0;
    margin: 0;
}
img {
    max-width: 100%;
}
html,body {
    height: 100%;
}
.fl { float: left; }
.fr { float: right; }
.cb { clear: both; }
.db { display: block; }
.dib { display: inline-block; }
.dpn { display: none; }
.mln { margin-left: 0; }
.tc { text-align: center; }
.tu { text-transform: uppercase; }

ul li.cb {
    height: 0 !important;
    margin: 0 !important;
    width: 0 !important;
}

@font-face {
    font-family: 'ubuntu_light';
    src: url('../fonts/ubuntu-light.woff2') format('woff2'),
    url('../fonts/ubuntu-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ubuntu_regular';
    src: url('../fonts/ubuntu-regular.woff2') format('woff2'),
    url('../fonts/ubuntu-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ubuntu_bold';
    src: url('../fonts/ubuntu-bold.woff2') format('woff2'),
    url('../fonts/ubuntu-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cinzel_decorativeregular';
    src: url('../fonts/cinzeldecorative-regular.woff2') format('woff2'),
    url('../fonts/cinzeldecorative-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.regular {
    font-family: 'ubuntu_regular';
    font-weight: normal;
}
.fb, strong, b {
    /*font-family: 'ubuntu_bold';
    font-weight: bold;*/
    font-weight: bold;
}
.decor {
    font-family: 'cinzel_decorativeregular';
    font-weight: normal;
}

body {
    background-color: #fff;
    /*font-family: 'ubuntu_light';*/
    font-family: 'tahoma';
    font-size: 100%;
    line-height: 1;
}
body input,
body textarea {
    /*font-family: 'ubuntu_light';*/
    font-family: 'tahoma';
}

#page .page {
    margin: 0 auto;
    width: 1200px;
}

/* header */
#header {
    position: relative;
    z-index: 5;
}
#header .top {
    background-color: #EBECED;
    height: 50px;
}
#header .top-inner {
    padding: 0 45px;
}
#header .social {
    padding-top: 15px;
}
#header .social li {
    background-repeat: no-repeat;
    background-position: center center;
    height: 19px;
    margin-right: 20px;
    width: 18px;
}
#header .social li:hover {
    opacity: 0.8;
}
#header .social .facebook {
    background-image: url('../images/fb.png');
}
#header .social .g-plus {
    background-image: url('../images/g-plus.png');
}
#header .social .youtube {
    background-image: url('../images/youtube.png');
}
#header .social li a {
    height: 19px;
}
#lng-switcher {
    padding-top: 13px;
}
#lng-switcher li {
    margin-left: 4px;
}
#lng-switcher li a {
    border: 1px solid #6D6E71;
    border-radius: 100%;
    color: #6D6E71;
    font-size: 0.6em;
    height: 22px;
    line-height: 20px;
    text-align: center;
    width: 22px;
}
#lng-switcher li a:hover,
#lng-switcher li.active a {
    color: #ffffff;
    background-color: #6D6E71;
}
#header .top-menu {
    margin-right: 16px;
}
#header .top-menu li {
    height: 50px;
    margin-left: 24px;
}
#header .top-menu li a {
    color: #878787;
    font-size: 0.9em;
    height: 50px;
    line-height: 50px;
}
#header .white {
    height: 145px;
    position: relative;
}
#header .header-overlay {
    background: url('../images/overlay.png');
    bottom: -9px;
    height: 82px;
    position: absolute;
    left: 9px;
    width: 100%;
}
#header .white-inner {
    background-color: #ffffff;
    height: 100%;
    position: relative;
    width: 100%;
}

#content {
    margin-top: -73px;
    position: relative;
    z-index: 1;
}