body #page,
body #footer {
    min-width: 0;
}
body #header .top,
body #search-form,
body #calendar-block {
    display: none;
}
body #bg-block {
    height: 220px;
    margin-top: 0;
}
body #bg-block h1 {
    font-size: 1.6em;
}
body #header .white {
    height: 90px;
}
body #header .white-inner {
    padding: 0;
}
body .title {
    font-size: 1.2em;
}
body .homepage-section {
    margin-bottom: 0;
}
body #homepage-about,
body #homepage-accommodation {
    margin-top: 25px;
}
body #homepage-accommodation,
body #homepage-offers {
    margin-bottom: 25px;
}
body #contact {
    padding: 20px 0;
}
body #contact h2,
body #homepage-about .html-content,
body #homepage-offers .html-content,
body #homepage-offers h2.title,
body #homepage-about h2.title,
body .homepage-section .img-section,
body #map {
    margin-bottom: 15px;
}
body .homepage-section .img-section,
body .homepage-section .text-section,
body #map,
body #contact-form-block {
    float: none;
    width: 100%;
}
body .html-content {
    font-size: 0.9em;
    line-height: 21px;
}
body #homepage-about .text-section,
body #contact-form-block {
    padding-left: 0;
}
body #homepage-offers .text-section {
    padding-right: 0;
}