#images-block {
    margin-top: 15px;
}
.img-block {
    margin: 0 10px 10px 0;
    height: 180px;
    position: relative;
    width: 180px;
}
.img-item {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 170px;
    width: 170px;
}
.uploaded-image {
    max-height: 100%;
    max-width: 100%;
}
.img-tools {
    display: none;
    right: 4px;
    position: absolute;
    top: 3px;
}
.img-tools a {
    margin-left: 5px;
}
.img-block:hover .img-tools {
    display: block;
}